.shop{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
 }
 .shop-right{
     flex-basis: 40%;
 }
 .shop-right img{
    width: 100%; 
    border-radius: 10px;
    height: 300px;
 }
 .shop-left{
     flex-basis: 56%;
 }
 .shop-left h3{
     font-weight: 600;
     font-size: 24px;
     color: rgba(45,47,49);
 }
 .shop-left h2{
     font-size: 20px;
     color: rgba(45,47,49,0.7);
     margin: 10px 0;
     
 }
 .shop-left ul{
     color: #676767;
     margin-bottom: 15px;
     list-style: none;
 }

 @media(max-width:850px){
    .shop{
        flex-direction: column;
    }
    .shop-right{
        flex-basis: 100%;
    }
    .shop-left{
        flex-basis: 100%;
        margin-top: 20px;
    }

}